*{
	margin: 0%;
}
.navigation{
	padding: 1%;
	font-family: 'Poppins', sans-serif;
	font: bold;
}
.navigation img{
	vertical-align: middle;
}
.paytmlogo{
	margin: 0% 4.5% 0% 3%;
}
.navigation a{
	color: black;
	font-size: 13px;
	text-decoration: none;
	padding: 1.8%;
	margin-left: 1%;
}
.wallet{
	background-color: rgba(239, 239, 240, 0.8);
	padding: 10px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
#signin{
	margin-left: 8%;
	background-color: #00baf2;
	color: white;
	padding: 0.5%;
	border-radius: 25px;
	text-align: center;
}
.sec1{
	display: flex;
	justify-content: space-between;
	padding: 7% 0% 10% 8%;
	font-family: 'Poppins', sans-serif;
}
.India{
	font-size: 45px;
	margin-top: 40px;
}
.recharge{
	font-size: 18px;
	margin-bottom: 5%;
	margin-top: 10px;
}
.app{
	border: 1px solid black;
	background-color: black;
	color: white;
	width: 50%;
	padding: 1%;
	border-radius: 25px;
	text-align: center;
	margin-top: 35px;
	font-size: 13.5px;
}
.app:hover{
	background-color: white;
	color: black;
}
.sec2{
	font-family: 'Poppins', sans-serif;
	background-color: #00baf2;
	padding: 0% 5% 5% 5%;
}
.sec3{
	font-family: 'Poppins', sans-serif;
	background-color: rgba(15,74,138,255);
	padding: 0% 5% 5% 5%;
}
.bills{
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	padding: 50px 90px 40px 6px;
	color: white;
	justify-content: justify;
}
.book{
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	padding: 50px 90px 40px 6px;
	color: white;
	justify-content: justify;
}
.sec2div1 img{
	width: 50%;
	margin: 0% 5% 10% 5%;
} 
.sec3div1 img{
	width: 35%;
	margin: 0% 5% 10% 5%;
} 
.sec2div1{
	justify-content: space-between;
	background-color: #00baf2;
	color: white;
	display: flex;
}
.sec3div1{
	justify-content: space-between;
	background-color: rgba(15,74,138,255);
	color: white;
	display: flex;
}
.sec3{
	background-color: rgba(15,74,138,255);
}
.service{
	width: 10%;
}
.invest{
	width: 16.5%;
}
.instrument{
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
}
.sec4{
	
	padding: 7%;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	background-color: rgba(239, 239, 239, 0.6);
	border: 1px;
}
.sec4div1{
	display: flex;
	justify-content: space-between;
	border: 1px;
	background-color: white;
	border-radius: 10px;
	padding: 10%;
}
.sec4child1{
	display: flex;
}
.sec4 a{
	display: flex;
	text-decoration: none;
	color: black;
	padding: 0%;
}
.sec4div2{
	border: white;
}
.way{
	font-size: 40px;
	margin-top: 40px;
}
.load{
	font-size: 15px;
	margin-bottom: 5%;
	margin-top: 10px;
}
.sec5{
	padding: 7%;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	background-color: rgba(239, 239, 239, 0.6);
	border: 1px;
}
.sec5div1{
	display: flex;
	justify-content: space-between;
	border: 1px;
	background-color: white;
	border-radius: 10px;
	padding: 10%;
}
.sec4child1{
	display: flex;
	text-decoration: none;
	background-color: white;
	color: black;
}
 .sec6{
	padding: 7%;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	background-color: rgba(239, 239, 239, 0.6);
	border: 1px;
}
.sec6div1{
	display: flex;
	justify-content: space-between;
	border: 1px;
	background-color: white;
	border-radius: 10px;
	padding: 10%;
}
.sec4child1{
	display: flex;
	text-decoration: none;
	background-color: white;
	color: black;
}
.learn{
	border: 1px solid black;
	background-color: #042e6f;
	color: white;
	width: 25%;
	padding: 1.5%;
	border-radius: 25px;
	text-align: center;
	margin-top: 35px;
	font-size: 14px;
}
.learn:hover{
	background-color: #00baf2;
	color: white;
}
 .sec7{
 	display: flex;
 	justify-content: space-between;
	padding: 7%;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	background-color: rgba(239, 239, 239, 0.6);
	border: 0px;
	font-size: 9px;
}
.sec7div1{
	justify-content: space-between;
	border: 1px solid rgba(239, 239, 239, 0.6);
	background-color: white;
	border-radius: 10px;
	padding: 2% 7% 1% 5%;
	width: 80%;
	margin: -5% 3% -15% 1%;
}
.sec7div2{
	justify-content: space-between;
	border: 1px solid rgba(239, 239, 239, 0.6);
	background-color: white;
	border-radius: 10px;
	padding: 8% 7% 1% 5%;
	width: 80%;
	margin: -5% 3% -15% 1%;
}
.sec7child1{
	margin-top: 0px;
}
.unlimited{
	font-size: 30px;
	margin-top: 20px;
}
.hdfc{
	font-size: 15px;
	margin-bottom: 25px;
	margin-top: 10px;
}
.most{
	font-size: 30px;
	margin-top: 20px;
}
.sbi{
	font-size: 15px;
	margin-bottom: 25px;
	margin-top: 10px;
}
.sec8{
	display: flex;
	justify-content: space-between;
	padding: 15% 0% 10% 8%;
	font-family: 'Poppins', sans-serif;
	border: 1px solid rgba(239, 239, 239, 0.6);
	background-color: white;
	border-radius: 10px;
	margin-top: 5px;
}
.financial{
	font-size: 45px;
	margin-top: 70px;
}
.secure{
	font-size: 18px;
	margin-bottom: 5%;
	margin-top: 10px;
}
.image{
	padding: 5% 5% 2% 1%;
}
.image1{
	padding: 1% 4% 2% 5%;
	margin-top: 13%;
}
.sec9{
	display: flex;
	justify-content: space-between;
	padding: 3% 0% 3% 8%;
	font-family: 'Poppins', sans-serif;
	margin-top: 2px;
	background-image: url(images/30.png);
}
.investing{
	font-size: 18px;
	margin-bottom: 2%;
	margin-top: 5px;
}
.image3{
	margin-top: 18.5%;
}
.build{
	font-size: 40px;
	margin-top: 15px;
}
.div{
	padding: 12% 3% 5% 3%;
}
.image2{
	padding: 0% 1% 0% 0%;
	margin-top: 20%;
}
.sec10{
	display: flex;
	justify-content: space-between;
	padding: 15% 0% 10% 8%;
	font-family: 'Poppins', sans-serif;
	border: 1px solid rgba(239, 239, 239, 0.6);
	background-color: white;
	border-radius: 10px;
	margin-top: 5px;
}
.financial{
	font-size: 45px;
	margin-top: 70px;
}
.secure{
	font-size: 18px;
	margin-bottom: 5%;
	margin-top: 10px;
}
.image4{
	padding: 5% 0% 0% 1%;
}
.image5{
	padding: 1% 4% 2% 5%;
	margin-top: 4%;
}
.sec11{
	display: flex;
	justify-content: space-between;
	padding: 3% 0% 3% 8%;
	font-family: 'Poppins', sans-serif;
	margin-top: 2px;
	background-color: rgba(239, 239, 239, 0.6);
}
.investing{
	font-size: 18px;
	margin-bottom: 2%;
	margin-top: 5px;
}
.image3{
	margin-top: 18.5%;
}
.build{
	font-size: 40px;
	margin-top: 15px;
}
.div{
	padding: 12% 3% 5% 3%;
}
.image6{
	padding: 0% 1% 0% 0%;
	margin-top: 15%;
}
.sec12{
	
	padding: 8%;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	background-color: rgba(239, 239, 239, 0.6);
	border: 1px;
}
.sec12div1{
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-radius: 10px;
	padding: 3%;
	padding-top: 5%;
}
.sec4div2{
	border: white;
}
.way{
	font-size: 40px;
	margin-top: 40px;
}
.load{
	font-size: 15px;
	margin-bottom: 5%;
	margin-top: 10px;
}
.by{
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	margin-bottom: 40px;
}
.img{
	margin-left: 35%;
}
.sec13{
	
	padding: 10%;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	background-color: rgba(239, 239, 239, 0.6);
	border: 1px;
}
.sec13div1{
	display: flex;
	justify-content: space-between;
	border: 1px;
	background-color: white;
	border-radius: 10px;
	padding: 10%;
}
.secdiv2{
	border: white;
}
.way{
	font-size: 40px;
	margin-top: 40px;
}
.load{
	font-size: 15px;
	margin-bottom: 5%;
	margin-top: 10px;
}
.sec14div1{
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 4% 6% 6% 6%;
	margin-top: 0%;
}
.sec14child1{
	padding: 2% 0% 5% 8%;
	background-color: white;
	margin-top: 0%;
}
.sec14child2{
	padding: 2% 0% 5% 5%;
	background-color: white;
	margin-top: 0%;
}
.sec14child3{
	padding: 2% 0.2% 5% 5%;
	background-color: white;
	margin-top: 0%;
}
.sec14child4{
	padding: 2% 3% 5% 6%;
	background-color: white;
	margin-top: 0%;
}
.sec14div1 h1{
	margin-bottom: 5%;
	margin-top: 10%;
	font-size: 25px;
}
.sec14div1 p{
	margin-bottom: 8%;
	font-size: 15px;
}
.sec14 img{
	width: 130%;
}