*{
	margin: 0%;
}
.navigation{
	padding: 1%;
	font-family: 'Poppins', sans-serif;
	font: bold;
}
.navigation img{
	vertical-align: middle;
}
.paytmlogo{
	margin: 0% 4.5% 0% 3%;
}
.navigation a{
	color: black;
	font-size: 13px;
	text-decoration: none;
	padding: 1.8%;
	margin-left: 1%;
}
.wallet{
	background-color: rgba(239, 239, 240, 0.8);
	padding: 10px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
#signin{
	margin-left: 8%;
	background-color: #00baf2;
	color: white;
	padding: 0.5%;
	border-radius: 25px;
	text-align: center;
}
.sec1{
	display: flex;
	justify-content: space-between;
	padding: 7% 0% 10% 8%;
	font-family: 'Poppins', sans-serif;
}
.India{
	font-size: 45px;
	margin-top: 40px;
}
.recharge{
	font-size: 18px;
	margin-bottom: 5%;
	margin-top: 10px;
}
.app{
	border: 1px solid black;
	background-color: black;
	color: white;
	width: 50%;
	padding: 1%;
	border-radius: 25px;
	text-align: center;
	margin-top: 35px;
	font-size: 13.5px;
}
.app:hover{
	background-color: white;
	color: black;
}
.sec2{
	font-family: 'Poppins', sans-serif;
	background-color: #00baf2;
	padding: 0% 5% 5% 5%;
}
.sec3{
	font-family: 'Poppins', sans-serif;
	background-color: rgba(15,74,138,255);
	padding: 0% 5% 5% 5%;
}
.bills{
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	padding: 5% 9% 4% 6%;
	color: white;
	justify-content: justify;
}
.book{
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	padding: 50px 90px 40px 6px;
	color: white;
	justify-content: justify;
}
.sec2div1 img{
	width: 50%;
	margin: 0% 5% 10% 5%;
} 
.sec3div1 img{
	width: 35%;
	margin: 0% 5% 10% 5%;
} 
.sec2div1{
	justify-content: space-between;
	background-color: #00baf2;
	color: white;
	display: flex;
}
.sec3div1{
	justify-content: space-between;
	background-color: rgba(15,74,138,255);
	color: white;
	display: flex;
}
.sec3{
	background-color: rgba(15,74,138,255);
}
.service{
	width: 15%;
}
.invest{
	width: 16.5%;
}
.instrument{
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
}
.sec4{
	
	padding: 7%;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	background-color: rgba(239, 239, 239, 0.6);
	border: 1px;
	margin-top: 1%;
}
.sec4div1{
	display: flex;
	justify-content: space-between;
	border: 1px;
	background-color: white;
	border-radius: 10px;
	padding: 8%;
}
.sec4child1{
	display: flex;
}
.sec4 a{
	display: flex;
	text-decoration: none;
	color: black;
	padding: 0%;
}
.sec4div2{
	border: white;
}
.way{
	font-size: 40px;
	margin-top: 40px;
}
.load{
	font-size: 15px;
	margin-bottom: 5%;
	margin-top: 10px;
}
.sec5{
	padding: 5%;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	background-color: rgba(239, 239, 239, 0.6);
	border: 1px;
	margin-top: 5%;
}
.sec5div1{
	display: flex;
	justify-content: space-between;
	border: 1px;
	background-color: white;
	border-radius: 10px;
	padding: 10%;
	margin-top: 8%;
}
.sec4child1{
	display: flex;
	text-decoration: none;
	background-color: white;
	color: black;
}
 .sec6{
	padding: 7%;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	background-color: rgba(239, 239, 239, 0.6);
	border: 1px;
}
.sec6div1{
	display: flex;
	justify-content: space-between;
	border: 1px;
	background-color: white;
	border-radius: 10px;
	padding: 10%;
	margin-top: 8%;
}
.sec4child1{
	display: flex;
	text-decoration: none;
	background-color: white;
	color: black;
}
.learn{
	border: 1px solid black;
	background-color: #042e6f;
	color: white;
	width: 25%;
	padding: 1.5%;
	border-radius: 25px;
	text-align: center;
	margin-top: 35px;
	font-size: 14px;
}
.learn:hover{
	background-color: #00baf2;
	color: white;
}
 .sec7{
 	display: flex;
 	justify-content: space-between;
	padding: 7%;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	background-color: rgba(239, 239, 239, 0.6);
	border: 0px;
	font-size: 9px;
}
.sec7div1{
	justify-content: space-between;
	border: 1px solid rgba(239, 239, 239, 0.6);
	background-color: white;
	border-radius: 10px;
	padding: 2% 9% 1% 5%;
	width: 80%;
	margin-top: -7%;
	margin-right: 5%;
}
.sec7div2{
	justify-content: space-between;
	border: 1px solid rgba(239, 239, 239, 0.6);
	background-color: white;
	border-radius: 10px;
	padding: 8% 9% 1% 5%;
	width: 80%;
	margin-top: -7%;
	margin-right: 5%;
}
.sec7child1{
	margin-top: 0px;
}
.unlimited{
	font-size: 30px;
	margin-top: 20px;
}
.hdfc{
	font-size: 15px;
	margin-bottom: 25px;
	margin-top: 10px;
}
.most{
	font-size: 30px;
	margin-top: 20px;
}
.sbi{
	font-size: 15px;
	margin-bottom: 25px;
	margin-top: 10px;
}
.sec8{
	display: flex;
	justify-content: space-between;
	padding: 3% 0% 3% 8%;
	font-family: 'Poppins', sans-serif;
	border: 1px solid rgba(239, 239, 239, 0.6);
	background-color: white;
	border-radius: 10px;
	margin-top: 5px;

}
.financial{
	font-size: 45px;
	margin-top: 70px;
}
.secure{
	font-size: 18px;
	margin-bottom: 5%;
	margin-top: 10px;
}
.image{
	padding: 5% 5% 2% 1%;
}
.image1{
	padding: 1% 4% 2% 5%;
	margin-top: 13%;
}
.sec9{
	display: flex;
	justify-content: space-between;
	padding: 1% 0% 3% 2%;
	font-family: 'Poppins', sans-serif;
	margin-top: 2px;
	background-image: url(images/30.png);
	margin-top: -13%;
}
.investing{
	font-size: 18px;
	margin-bottom: 2%;
	margin-top: 5px;
}
.image3{
	margin-top: 18.5%;
}
.build{
	font-size: 40px;
	margin-top: 15px;
}
.div{
	padding: 12% 3% 5% 3%;
}
.image2{
	padding: 0% 1% 0% 0%;
	margin-top: 20%;
}
.sec10{
	display: flex;
	justify-content: space-between;
	padding: 7% 0% 5% 8%;
	font-family: 'Poppins', sans-serif;
	border: 1px solid rgba(239, 239, 239, 0.6);
	background-color: white;
	border-radius: 10px;
	margin-top: 5px;
}
.financial{
	font-size: 45px;
	margin-top: 70px;
}
.secure{
	font-size: 18px;
	margin-bottom: 5%;
	margin-top: 10px;
}
.image4{
	padding: 5% 0% 0% 1%;
}
.image5{
	padding: 1% 4% 2% 5%;
	margin-top: 4%;
}
.sec11{
	display: flex;
	justify-content: space-between;
	padding: 0% 0% 3% 8%;
	font-family: 'Poppins', sans-serif;
	margin-top: -5%;
	background-color: rgba(239, 239, 239, 0.6);
}
.investing{
	font-size: 18px;
	margin-bottom: 2%;
	margin-top: 5px;
}
.image3{
	margin-top: 18.5%;
}
.build{
	font-size: 40px;
	margin-top: 15px;
}
.div{
	padding: 12% 3% 5% 3%;
}
.image6{
	padding: 0% 1% 0% 0%;
	margin-top: 15%;
}
.sec12{
	padding-bottom: 5%;
	padding: 8%;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	background-color: rgba(239, 239, 239, 0.6);
	border: 1px;
}
.sec12div1{
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-radius: 10px;
	padding: 3%;
	padding-top: 10%;
}
.class12{
	padding-top: 10%;
}
.sec4div2{
	border: white;
}
.way{
	font-size: 40px;
	margin-top: 40px;
}
.load{
	font-size: 15px;
	margin-bottom: 5%;
	margin-top: 10px;
}
.by{
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	margin-bottom: 40px;
}
.img{
	margin-left: 35%;
}
.sec13{
	
	padding: 7%;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	background-color: rgba(239, 239, 239, 0.6);
	border: 1px;
}
.sec13div1{
	display: flex;
	justify-content: space-between;
	border: 1px;
	background-color: white;
	border-radius: 10px;
	padding: 7% 7%;
}
.secdiv2{
	border: white;
}
.way{
	font-size: 40px;
	margin-top: 40px;
}
.load{
	font-size: 15px;
	margin-bottom: 5%;
	margin-top: 10px;
}
.sec14div1{
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 1% 6% 4% 6%;
	margin-top: 1%;
	color: black;
}
.sec14child1{
	padding: 0% 0% 5% 8%;
	background-color: white;
	margin-top: 0%;
}
.sec14child2{
	padding: 0% 0% 5% 5%;
	background-color: white;
	margin-top: 0%;
}
.sec14child3{
	padding: 0% 0.2% 5% 5%;
	background-color: white;
	margin-top: 0%;
}
.sec14child4{
	padding: 0% 3% 5% 6%;
	background-color: white;
	margin-top: 0%;
}
.sec14div1 h2{
	margin-bottom: 5%;
	margin-top: 1%;
	font-size: 25px;
}
.sec14div1 p{
	margin-bottom: 8%;
	font-size: 15px;
}
.sec14 img{
	width: 130%;
}
.sec14{
	margin-top: 2%;
	padding-top: 0%;
	color: black;
}
.bills{
	color: black;
}
/*.sec15{
	margin: 6% 7% 0% 15%;
	display: inline-flex;
	justify-content: space-between;
	font-family: 'Poppins', sans-serif;
}
.sec15div1{
	border: 1px solid #00baf2;
	border-radius: 4%;
	padding-bottom: 0%;
	margin: 0% 2% 0% 1%;
	font-weight: bolder;
	color: white;
}
.img12{
	width: 5%;
}*/

@media (max-width: 390px){
	.navigation a{
		font-size: 3px;
	}
	.wallet{
		font-size: 5px;
	}
	.India{
		font-size: 15px;
		margin-top: 3%;
	}
	.recharge{
		font-size: 5px;
	}
	.app{
		font-size: 4px;
	}
	.bills{
		font-size: 15px;
		padding-bottom: 2%;
	}
	.sec2{
		font-size: 5px;
	}
	.service{
		font-size: 7px;
	}
	.book{
		font-size: 15px;
		padding: 3% 5%;
	}
	.sec3div1{
		font-size: 5px;
	}
	.invest{
		font-size: 8px;
	}
	.instrument{
		font-size: 20px;
	}
	.sec4child1{
		font-size: 7px;
	}
	.way{
		font-size: 13px;
		margin-top: 5px;
	}
	.load{
		font-size: 5px;
		margin-top: -2%;
	}
	.learn{
		font-size: 5px;
		margin-top: 5%;
	}
	.app{
		margin-top: 5%;

	}
	.unlimited{
		font-size: 15px;
	}
	.hdfc{
		font-size: 5px;
	}
	.most{
		font-size: 15px;
	}
	.sbi{
		font-size: 5px;
	}
	.financial{
		font-size: 15px;
	}
	.secure{
		font-size: 5px;
	}
	.sec8{
		margin-top: -5%;
	}
	.image{
		padding: 0% 2%;
	}
	.image1{
		margin-top: 20%;
	}
	.build{
		font-size: 15px;
		margin-top: 0%;
	}
	.investing{
		font-size: 5px;
	}
	.image2{
		margin-top: 25%;
	}
	.image3{
		margin-top: 30%;
	}
	.image5{
		padding-top: 0%;
	}
	.image6{
		margin-top: 15%;
		margin-bottom: 25%;
	}
	.div{
		padding-top: 2%;

	}
	.by{
		font-size: 15px;
		margin-bottom: 5%;
		margin-top: -20%;
	}
	.sec14div1 h2{
		font-size: 10px;
	}
	.sec14div1 p{
		font-size: 5px;
	}
	.more{
		font-size: 5px;
	}
	.sec14div1 h2{
		margin-bottom: -85%;
		margin-top: 1%;		
	}
	.sec14div1 p{
		margin-top: 50%;
	}
	.bills{
		padding-top: -65%;
		font-size: 15px;
	}
	.sec14{
		padding-top: -50%;
	}
	.demo1{
		font-size: 50px;
	}
	.demo{
		font-size: 0px;
	}
	.sec8{
		padding-top: 2%;
	}
	.India{
		margin-top: -5%;
	}
	.secure{
		margin-top: -1%;
	}
	.financial{
		margin-top: 10%;
	}
	.image1{
		margin-top: 8%;
	}
	.sec9{
		margin-top: -15%;
	}
	.sec10{
		margin-top: 5%;
	}
	.unlimited{
		margin-top: 8%;
	}
	.most{
		margin-top: 8%;
	}
	.hdfc{
		margin-top: 5%;
	}
	.sbi{
		margin-top: 5%;
	}
} 